.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  /* add */
  margin-top: auto;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

/* add */

.fighter-preview___img {
	max-height: 395px;
} 

.fighter-preview___name {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	width: 100%;
	font-size: 28px;
	font-weight: 800;
	background-color: #ffdfa7;
	color: #ca9650;
	border: 5px solid #ca9650;
}

.fighter-preview___info {
	padding: 15px;
	padding: 15px;
    background-color: #ffdfa7;
    color: #ca9650;
    border: 5px solid #ca9650;
    border-top: none;
    width: 100%;
}